<% content_for(:page_title, "BSL booking request for #{@booking_request.full_name}") %>

<div class="page-header">
  <ol class="breadcrumb">
    <li><a href="<%= bsl_booking_requests_path %>">Alternative planner</a></li>
    <li class="active">BSL booking request for <%= @booking_request.full_name %></li>
  </ol>

  <div class="row">
    <div class="col-md-7">
      <h1>BSL booking request for <%= @booking_request.full_name %></h1>
    </div>

    <div class="col-md-5 action-buttons">
      <% unless @booking_request.processed_at? %>
        <%= link_to bsl_booking_request_process_path(@booking_request), method: :post, title: 'Mark as processed', class: 'btn btn-info t-process' do %>
          <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
          <span>Mark as processed</span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="row t-activity-feed">
  <div class="col-md-12 border-bottom">
    <div class="activity-feed">
      <div class="well js-message-form">
        <%= form_for [@booking_request, @note] do |f| %>
          <div class="input-group activity-feed__input">
            <label for="message_activity_message"><span class="sr-only">Activity message</span></label>
            <%= f.text_field :message, placeholder: 'Add a note to keep others in the loop', class: 'form-control t-message' %>
            <span class="input-group-btn">
              <%= f.button class: 'btn btn-primary btn-block t-add-note activity-feed__button', data: { disable_with: 'Adding note...' } do %>
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Add note
              <% end %>
            </span>
          </div>
        <% end %>
      </div>

      <ol class="list-group activity-feed__list t-notes">
        <%= render(@booking_request.notes.order(created_at: :desc)) %>
      </ol>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-4">
    <div class="well">
      <h2 class="h3">Customer research consent</h3>
      <p class="lead">
        <strong class="t-gdpr-consent"><%= @booking_request.consent %></strong>
      </p>

      <hr>
      <h2 class="h3">Processed?</h3>
      <p class="lead">
        <strong class="t-processed"><%= @booking_request.processed %></strong>
      </p>
    </div>
  </div>

  <div class="col-md-8 l-appointment-details">
    <div class="well">
      <div class="row">
        <div class="col-md-6">
          <%= form_for @booking_request do |f| %>
          <h2 class="h3">Customer details</h2>
          <div class="form-group">
            <%= f.label :full_name %>
            <%= f.text_field :full_name, class: 'form-control t-full-name', readonly: true %>
          </div>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email, class: 'form-control t-email', readonly: true %>
          </div>
          <div class="form-group">
            <%= f.label :phone %>
            <%= f.text_field :phone, class: 'form-control t-phone', readonly: true %>
          </div>
          <div class="form-group">
            <%= f.label :memorable_word %>
            <%= f.text_field :memorable_word, class: 'form-control t-memorable-word', readonly: true %>
          </div>
          <%= render partial: 'shared/date_of_birth_form_field', locals: { form: f } %>
        </div>
        <div class="col-md-6">
          <h2 class="h3">Appointment details</h2>

          <div class="form-group">
            <%= f.label :additional_info %>
            <%= f.text_area :additional_info, class: 'form-control t-additional-info', rows: 5, maxlength: 500, readonly: true %>
          </div>

          <div class="form-group">
            <%= f.label :accessibility_needs, class: 'checkbox-inline' do %>
              <%= f.check_box :accessibility_needs, class: 't-accessibility-needs' %> <b>Accessibility needs?</b>
            <% end %>
          </div>

          <div class="form-group">
            <p><b>Defined contribution pot confirmed?</b></p>
            <%= f.label :defined_contribution_pot_confirmed, value: true, class: 'radio-inline' do %>
              <%= f.radio_button :defined_contribution_pot_confirmed, true, class: 't-defined-contribution-pot-confirmed-yes' %>
              Yes
            <% end %>

            <%= f.label :defined_contribution_pot_confirmed, value: false, class: 'radio-inline' do %>
              <%= f.radio_button :defined_contribution_pot_confirmed, false, class: 't-defined-contribution-pot-confirmed-dont-know' %>
              Don’t know
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
